@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* -------------------------------------------------------------Heading */

@media (min-width: 768px) {
    .logo {
        background: url("../images/haribo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        transition: all .5s;
        display: block;
    }
}


.heading {
    background-color: #73B1B7!important;
    width: 100% !important;

}


.bg-color-name {
    font-family: 'Mansalva', cursive;
    color: #696969;
    text-align: left;
    font-weight: 100;
    width: 100% !important;



}

.name {
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}


/* -------------------------------------------------------------Section index.html */

.boxone {
    margin-bottom: 20px;
    padding-top: 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #73B1B7;

}

.boxtwo {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #73B1B7;
}

.boxthree {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #73B1B7;
}

.blue {
    text-align: center;
    color: #7d7dfc;
    background-color: #DCDCDC;
    padding-top: 60px;
    padding-bottom: 20px;
}



.subheading {
        font-size: 30px;
        font-family: 'Mansalva', cursive;
        color: #696969;
}



.subhead {
        font-size: 20px;
        font-family: 'Mansalva', cursive;
        color: #696969;

}



.list-inline-harrisonquote {
        background-color: #DCDCDC;
        text-align: left;
}

.harrisondrawing {
    width: 220px;
    height: 200px;
}

.quote {
    text-align: center;
    font-family: 'Mansalva', cursive;
    color: #696969;
    font-size: 20px;
}

.conference {
    background-color: #D8BFD8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




    /* -------------------------------------------------------------Section general.html */
    
p {
    font-weight: 300;
    color: #2f4f4f;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 18px;
}

img {
    position: relative;
    width: 210px;
    height: 180px;
    margin: 20px;
}

.media {
    border-style: groove;
    background-color: #FFFACD;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.campaign {
    border-style: groove;
    background-color: #FFFACD;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

.generalimages {
    background-color: #F5F5F5;
    text-align: center;
}

.aboutme {
        background-color: #F5F5F5;
}




/* -------------------------------------------------------------Statistics.html */

@media (min-width: 992px) {
    .picture {
        width: 700px;
        height: 600px;
        text-align: center;
    }

}

.picture2 {
    text-align: center;
    background-color: #DCDCDC;
    padding-top: 40px;
}


    /* -------------------------------------------------------------Section Contact.html */
    
h5 {
        color: #2f4f4f;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
}


.bg-color-contact {
        background-color: #DCDCDC;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 25px;
        margin-right: 30px;
}


button {
        margin-top: 7px;
}

.form {
        background-color: #DCDCDC;
        padding-bottom: 20px;
}


    /* -------------------------------------------------------------Navbar */
 
 .menu-color-heading {
        background-color: #73B1B7;
        padding-bottom: 40px
 }



.color-home {
        background-color: #D8BFD8;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 170px;
        height: 70px;
        border-radius: 90px;
        text-align: center;
        margin-top: 5px;
        padding-top: 9px;
        margin-left: 8px;
}

.color-home:hover {
        background-color: #FFF8DC;
        text-transform: uppercase;
        color: #2f4f4f;
        font-weight: 700;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
}


.color-about {
        background-color: #F0F8FF;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 170px;
        height: 70px;
        border-radius: 90px;
        text-align: center;
        margin-top: 5px;
        padding-top: 9px;
        margin-left: 8px;
}

.color-about:hover {
        background-color: #FFF8DC;
        text-transform: uppercase;
        color: #2f4f4f;
        font-weight: 700;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
}

.color-contact {
        background-color: #B0E0E6;
        margin-bottom: 5px;
        width: 170px;
        height: 70px;
        border-radius: 90px;
        text-align: center;
        margin-top: 5px;
        padding-top: 9px;
        margin-left: 8px;

}

.color-contact:hover {
        background-color: #FFF8DC;
        text-transform: uppercase;
        color: #2f4f4f;
        font-weight: 700;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
}

.color-statistics {
        background-color: #DCDCDC;
        margin-bottom: 5px;
        width: 170px;
        height: 70px;
        border-radius: 90px;
        text-align: center;
        margin-top: 5px;
        padding-top: 9px;
        margin-left: 8px;
}

.color-statistics:hover {
        background-color: #FFF8DC;
        text-transform: uppercase;
        color: #2f4f4f;
        font-weight: 700;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
}    

span {
        font-size: 20px;
        font-family: 'Mansalva', cursive;
        color: #696969;
        margin: 8px;
        text-align: center;
}


.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    
}



    /* -------------------------------------------------------------Footer */
   

footer {
        background-color: #73B1B7;
        padding-bottom: 30px;
        width: 100%;

}

.social-links li a i {
        width: 32px;
        height: 32px;
        padding-top: 12px;
        border-radius: 50%;
        font-size: 15px;
        line-height: 7px;
        text-align: center;
        color: #808080 !important;
        background-color: #f0f8ff;
        background-position: center;
}

.social-links li a i:hover {
        background-color: #FFF8DC;
        transition: all 0.25s ease-in-out;
}

.general-sub {
        padding-top: 10px;
        color: #696969;
        font-family: 'Mansalva', cursive;
        padding-left: 10px;
        padding-bottom: 20px;
        font-size: 20px;
}

.list-inline-item {
        padding-left: 10px;
}

.fa fa-facebook {
        padding-left: 5px;
}

.fa fa-facebook:hover {
        font-weight: 900;
}

.fa fa-instagram:hover {
        font-weight: 900;
}

.fa fa-youtube:hover {
        font-weight: 900;
}

.fa fa-spotify:hover {
        font-weight: 900;
}

.social {
        padding-top: 12px;
}
